<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../JS/vue.js"></script>
</head>

<body>
    <!-- 1.什么事计算属性，那就是把一个姓和名拼接在一起的使用方式
           需要明白一点的是什么事属性，属性就是在data中规定好的，然后计算属性
           就是把属性的拼接成一个全新的属性，别名就是计算属性，哪既然是计算属性
           这个位置的话，就不可以在属性的位置上写了，需要开辟一个全新的对象，就是计算属性 -->
    <div id="root">
        <!-- 2.V-model就是开启双向管道，页面上的数据发生改变的话
               随之Vue模板中的数据也是发生改变的 -->
      姓：<input type="text" v-model="firstname"><br>
      名：<input type="text" v-model="lastname"><br>
      <!-- 3.span是拼接数据，可以把这个数据拼接下这一行的后面，分析下面的执行过程
             在标签体中，获取这个数据，去VUE实例中找，这个名字不是自己取的，是官方定义好的
             所以，直接到computed中找然后在获取，下面有很多个，哪执行的话，还是依次的从下
             面去获取吗，不是的，在第一次获取的时候，执行完执行，把这个数据放在缓存中，到了第二个
             的话，直接从缓存中拿来，当数据发生改变的话，需要从新调用一次 -->
      姓名：<span>{{fullName}}</span><br>
      姓名：<span>{{fullName}}</span><br>
      姓名：<span>{{fullName}}</span><br>
      姓名：<span>{{fullName}}</span><br>
      姓名：<span>{{fullName}}</span><br>
      姓名：<span>{{fullName}}</span><br>
      姓名：<span>{{fullName}}</span><br>
    </div>
    <script type="text/javascript">
        Vue.config.productionTip = false
        const vm=new Vue({
            el:'#root',
            data:{
                firstname:'张',
                lastname:'三',
                fullName:'张-三'
            },

            /* 4.分析：当一个括号中的数据发生改变的时候
                       这个监视器就气到了作用，哪一个文本框
                       发生的改变就去执行哪一个函数，把新的数据传递到函数中，
                       把旧的数据改变掉，然后另外一个地方获取这个数据也会发生改变
                       this.lastName是当前的数据，因为当前的数据是最新的，可以使用
                       newVlaue只是一个名字，是获取传递过来数据的变量，这个变量的
                       名字可以取任何值
                       
                       注意：在监视中，写的都是每一个函数的片段，这个时候
                       就可以去操作具体的细节，监视，可以在某一个函数中停顿几秒
                       计算属性不可以，watch可以使用异步任务*/
            watch:{
                firstname(newValue){
                    setTimeout(()=>{
                        this.fullName=newValue+'-'+this.lastname
                    },1000);
                },
                lastname(newValue){
                    this.fullName= this.firstname+'-'+newValue
                }
            }
        })
    </script>
</body>

</html>